## 代码6-1

In [35]:
import pandas as pd
#创建学生信息
df1 = pd.DataFrame({'性别':['男','女'],'年龄':[18,17]},index=['小李','小张'])
#创建学生成绩
df2 = pd.DataFrame({'语文':[96,85,88],'数学':[87,86,98]},index=['小李','小王','小张'])
print('学生信息为：\n',df1)
print('学生成绩为：\n',df2)

学生信息为：
    性别  年龄
小李  男  18
小张  女  17
学生成绩为：
     语文  数学
小李  96  87
小王  85  86
小张  88  98

In [36]:
#横向堆叠数据，outer 方式
pd.concat([df1,df2],axis=1,join='outer')

     性别    年龄  语文  数学
小李    男  18.0  96  87
小张    女  17.0  88  98
小王  NaN   NaN  85  86

## 代码6-2

In [37]:
#横向堆叠数据，inner 方式
pd.concat([df1,df2],axis=1,join='inner')

   性别  年龄  语文  数学
小李  男  18  96  87
小张  女  17  88  98

## 代码6-3

In [39]:
#横向堆叠时列索引设置为位置索引
pd.concat([df1,df2],axis=1,ignore_index=True)

      0     1   2   3
小李    男  18.0  96  87
小张    女  17.0  88  98
小王  NaN   NaN  85  86

## 代码6-4

In [8]:
import pandas as pd
#创建数据1 班学生成绩
df1 = pd.DataFrame({'性别':['男','女'],'年龄':[18,17],'语文':[96,85]},
index=['小李','小张'])
#创建数据2 班学生成绩
df2 = pd.DataFrame({'性别':['男','女','男'],'年龄':[18,17,16],'语文':[94,86,88]},index=['小王','小何','小刘'])
print('数据1 班学生成绩为：\n',df1)
print('数据2 班学生成绩为：\n',df2)

数据1 班学生成绩为：
    性别  年龄  语文
小李  男  18  96
小张  女  17  85
数据2 班学生成绩为：
    性别  年龄  语文
小王  男  18  94
小何  女  17  86
小刘  男  16  88

In [9]:
#纵向堆叠2 个班学生的成绩
pd.concat([df1,df2],axis=0)

   性别  年龄  语文
小李  男  18  96
小张  女  17  85
小王  男  18  94
小何  女  17  86
小刘  男  16  88

## 代码6-5

In [10]:
#设置多级索引
pd.concat([df1,df2],axis=0,keys=['数据1 班','数据2 班'])

         性别  年龄  语文
数据1 班 小李  男  18  96
      小张  女  17  85
数据2 班 小王  男  18  94
      小何  女  17  86
      小刘  男  16  88

## 代码6-6

In [11]:
#使用DataFrame 实例的append()方法进行纵向堆叠
df1.append(df2)

   性别  年龄  语文
小李  男  18  96
小张  女  17  85
小王  男  18  94
小何  女  17  86
小刘  男  16  88

## 代码6-7

In [12]:
import pandas as pd
#创建学生信息
df1 = pd.DataFrame({'姓名':['小李','小王','小张','小刘'],'性别':['男','女','女','女'],'年龄':[18,17,16,17]})
#创建学生成绩
df2 = pd.DataFrame({'姓名':['小李','小王','小张'],'语文':[96,85,88],'数学':[87,86,98]})
print('学生信息为：\n',df1)
print('学生成绩为：\n',df2)

学生信息为：
    姓名 性别  年龄
0  小李  男  18
1  小王  女  17
2  小张  女  16
3  小刘  女  17
学生成绩为：
    姓名  语文  数学
0  小李  96  87
1  小王  85  86
2  小张  88  98

In [14]:
#使用merger()函数进行内连接，不使用on 参数时默认以两个数据集的列索引的交集作为连接时的键
pd.merge(df1,df2,how='inner')

   姓名 性别  年龄  语文  数学
0  小李  男  18  96  87
1  小王  女  17  85  86
2  小张  女  16  88  98

In [15]:
#使用merger()函数进行外连接
pd.merge(df1,df2,how='outer')

   姓名 性别  年龄    语文    数学
0  小李  男  18  96.0  87.0
1  小王  女  17  85.0  86.0
2  小张  女  16  88.0  98.0
3  小刘  女  17   NaN   NaN

In [16]:
#使用merger()函数进行左连接
pd.merge(df1,df2,how='left')

   姓名 性别  年龄    语文    数学
0  小李  男  18  96.0  87.0
1  小王  女  17  85.0  86.0
2  小张  女  16  88.0  98.0
3  小刘  女  17   NaN   NaN

In [17]:
#使用merger()函数进行右连接
pd.merge(df1,df2,how='right')

   姓名 性别  年龄  语文  数学
0  小李  男  18  96  87
1  小王  女  17  85  86
2  小张  女  16  88  98

## 代码6-8

In [18]:
df1.join(df2,on='姓名',how='outer',lsuffix='_x',rsuffix='_y')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

## 代码6-9

In [19]:
#使用join()方法连接时，将df2 中连接的列作为行索引
df1.join(df2.set_index('姓名'),on='姓名',how='outer')

   姓名 性别  年龄    语文    数学
0  小李  男  18  96.0  87.0
1  小王  女  17  85.0  86.0
2  小张  女  16  88.0  98.0
3  小刘  女  17   NaN   NaN

## 代码6-10

In [20]:
import pandas as pd
import numpy as np
#创建学生信息
df1 = pd.DataFrame({'姓名':['小李','小王',np.nan],'性别':['男','女','男'],'年龄':[18,17,16]})
#创建学生成绩
df2 = pd.DataFrame({'姓名':['小李','小王','小张'],'性别':['男',np.nan,'男'],'语文':[96,85,88],'数学':[87,86,98]})
print('学生信息为：\n',df1)
print('学生成绩为：\n',df2)

学生信息为：
     姓名 性别  年龄
0   小李  男  18
1   小王  女  17
2  NaN  男  16
学生成绩为：
    姓名   性别  语文  数学
0  小李    男  96  87
1  小王  NaN  85  86
2  小张    男  88  98

In [21]:
df1.combine_first(df2)

   姓名  年龄 性别  数学  语文
0  小李  18  男  87  96
1  小王  17  女  86  85
2  小张  16  男  98  88

## 代码6-11

In [23]:
#使用自定义函数指定映射转换的规则
def map_func(x):
    if x < 60:
        return 'C'
    elif x < 80:
        return 'B'
    else:
        return 'A'

## 代码6-12

In [25]:
import pandas as pd
import numpy as np
#生成学生成绩后转换为Series 对象
score =pd.Series(np.random.randint(0,100,size=10),name='数学')
#创建一个DataFrame 对象，存放考试成绩和映射转换的结果
df = pd.DataFrame()
df['数学'] = score
#将成绩映射转换成等级
df['等级'] = score.map(map_func)
print(df)

   数学 等级
0  93  A
1  95  A
2  83  A
3  71  B
4  93  A
5  13  C
6   9  C
7  56  C
8  39  C
9  25  C

## 代码6-13

In [27]:
#使用自定义一个字典指定映射转换的规则
map_dic = { 'A': '合格', 'B': '合格', 'C': '不合格'}
#使用字典对成绩进行映射转换
df['是否合格'] = df['等级'].map(map_dic)
print(df)

   数学 等级 是否合格
0  93  A   合格
1  95  A   合格
2  83  A   合格
3  71  B   合格
4  93  A   合格
5  13  C  不合格
6   9  C  不合格
7  56  C  不合格
8  39  C  不合格
9  25  C  不合格

## 代码6-14

In [28]:
#使用lambda 表达式将数学成绩乘0.3
df['总评成绩中数学成绩'] = df['数学'].map(lambda x:x*0.3)
print(df)

   数学 等级 是否合格  总评成绩中数学成绩
0  93  A   合格       27.9
1  95  A   合格       28.5
2  83  A   合格       24.9
3  71  B   合格       21.3
4  93  A   合格       27.9
5  13  C  不合格        3.9
6   9  C  不合格        2.7
7  56  C  不合格       16.8
8  39  C  不合格       11.7
9  25  C  不合格        7.5

## 代码6-15

In [29]:
import pandas as pd
import numpy as np
#学生成绩
grades = [20, 60, 44, 76, 85, 99]
#确定区间
bins = [0, 60, 80, 100.1]
#划分区间时左闭右开
cats = pd.cut(grades, bins, right=False,retbins=True)
print("学生成绩等宽离散化后结果为：\n",cats)

学生成绩等宽离散化后结果为：
 ([[0.0, 60.0), [60.0, 80.0), [0.0, 60.0), [60.0, 80.0), [80.0, 100.1), [80.0, 100.1)]
Categories (3, interval[float64, left]): [[0.0, 60.0) < [60.0, 80.0) < [80.0, 100.1)], array([  0. ,  60. ,  80. , 100.1]))

In [30]:
#将学生成绩按照区间划分等级，[0, 60)为C,[60, 80)为B,[80, 100.1)为A
cats = pd.cut(grades, bins, right=False,labels=['C','B','A'])
print("学生成绩的等级为：\n",cats)

学生成绩的等级为：
 ['C', 'B', 'C', 'B', 'A', 'A']
Categories (3, object): ['C' < 'B' < 'A']

## 代码6-16

In [31]:
#学生成绩
grades = [20, 60, 44, 76, 85, 99, 22, 62, 46, 52, 87, 95]
#指定区间的个数
cats = pd.qcut(grades, 3)
print("学生成绩等频离散化后结果为：\n",cats)

学生成绩等频离散化后结果为：
 [(19.999, 50.0], (50.0, 79.0], (19.999, 50.0], (50.0, 79.0], (79.0, 99.0], ..., (50.0, 79.0], (19.999, 50.0], (50.0, 79.0], (79.0, 99.0], (79.0, 99.0]]
Length: 12
Categories (3, interval[float64, right]): [(19.999, 50.0] < (50.0, 79.0] < (79.0, 99.0]]

In [32]:
#验证每个区间的数据个数是否相同
count_num = cats.value_counts()
print("每个区间的数据个数为：\n",count_num)

每个区间的数据个数为：
 (19.999, 50.0]    4
(50.0, 79.0]      4
(79.0, 99.0]      4
dtype: int64

# 代码6-17

In [33]:
#学生成绩
grades = [20, 60, 44, 76, 85 , 99, 22, 62, 46, 52]
#使用指定的分位数序列将学生成绩划分成3 个区间
cats = pd.qcut(grades, [0,0.2,0.5,1])
#验证每个区间的数据个数是否对应指定的分位数
count_num = cats.value_counts()
print("每个区间的数据个数为：\n",count_num)

每个区间的数据个数为：
 (19.999, 39.6]    2
(39.6, 56.0]      3
(56.0, 99.0]      5
dtype: int64