# 任务10.2 电力数据预处理

## 10.2.1按账户和日期排序

In [8]:
# 按账户和日期排序
import numpy as np
import pandas as pd
import os
InValidNum = 1000000000
#读取sdl_new.csv 
sdl_new=pd.read_csv("sdl_new.csv",header=None,names=['acct','degrees','bills','ym'],dtype={'acct':np.int64,'ym':np.int64})
#按账户和日期排序
sdl_new_out_1=sdl_new.sort_values(by=['acct','ym'])
#将数据集导出
sdl_new_out_1.to_csv("sdl_new_out_2.csv",index=False,header=False)
sdl_new_out_1.head(20)

               acct    degrees      bills        ym
264693  10000000442   239680.0  155364.72  20100331
264705  10000000442        0.0       0.00  20100331
275531  10000000442  1115040.0  601751.95  20100430
276001  10000000442        0.0  -63000.00  20100430
30556   10100124484    49994.0   56774.95  20080124
30557   10100124484     1546.0     760.63  20080124
35847   10100124484    45687.0   53503.73  20080225
35848   10100124484     1413.0     695.20  20080225
42239   10100124484    40565.0   51399.84  20080325
42240   10100124484     1255.0     617.47  20080325
46832   10100124484     8323.0   38213.62  20080423
46858   10100124484      257.0     126.46  20080423
59332   10100124484        0.0   11662.00  20080624
66192   10100124484        0.0       0.00  20080723
73516   10100124484        0.0       0.00  20080825
80661   10100124484        0.0       0.00  20080923
87801   10100124484        0.0       0.00  20081024
96641   10100124484        0.0       0.00  20081124
96648   10100124484        0.0  -11662.00  20081124
103768  10100124484        0.0       0.00  20081216

In [7]:
# 按账户和日期排序
import pandas as pd
import numpy as np
#读取jfmx_order数据集
jfmx_order=pd.read_csv("jfmx_order.csv",header=None,names=['acct','num','ym','yue','shuruyue','acctyue','detail'],
                       dtype={'acct':np.int64,'ym':np.int64})
#按账户和日期排序
jfmx_order_out_2=jfmx_order.sort_values(by=['acct','ym'])
#将数据集导出
jfmx_order_out_2.to_csv("jfmx_order_out_2.csv",index=False,header=False)
jfmx_order_out_2.head(20)

               acct  num        ym        yue   shuruyue    acctyue detail
343643  10000000442    1  20100331  155364.72       0.00 -155364.72    转电费
343642  10000000442    2  20100409       0.00  155364.72       0.00   账目收费
343640  10000000442    4  20100430  -63000.00       0.00 -538751.95    转电费
343641  10000000442    3  20100430  601751.95       0.00 -601751.95    转电费
343639  10000000442    5  20100505       0.00  538751.95       0.00   账目收费
343638  10100124484  143  20080124   57535.58       0.00 -361554.34    转电费
343636  10100124484  145  20080225       0.00   57535.58 -358217.69   日常收费
343637  10100124484  144  20080225   54198.93       0.00 -415753.27    转电费
343635  10100124484  146  20080314       0.00   57535.58 -300682.11   日常收费
343634  10100124484  147  20080325   52017.31       0.00 -352699.42    转电费
343633  10100124484  148  20080423   38340.08       0.00 -391039.50    转电费
343632  10100124484  149  20080523       0.00   90357.39 -300682.11   日常收费
343631  10100124484  150  20080624   11662.00       0.00 -312344.11    转电费
343630  10100124484  151  20081027       0.00  300682.11  -11662.00   日常收费
343629  10100124484  152  20081124  -11662.00       0.00       0.00    转电费
343628  10100124487    1  20100819       0.00     100.00     100.00     存入
343627  10100124490  128  20080626    2744.00       0.00   -2742.06    转电费
343626  10100124490  129  20080728   -2744.00       0.00       1.94    转电费
343625  10100124490  130  20090424   80953.97       0.00  -80952.03    转电费
343624  10100124490  131  20090428    5985.00       0.00  -86937.03    转电费

## 10.2.2统计每个账户每个月各种账户活动发生的数量

In [9]:
#统计每个账户每个月的各种账户活动发生的数量，如'转电费', '存入', '调整账目'等
import os
cntall=[0,0,0,0,0,0,0,0,0,0,0]
def processJfxmbymonth(linesgroup, fo):
    if(not linesgroup):
        return
    strs = ['转电费', '存入', '调整账目', '账目余额调入', '退电费', '调整违约金', 
            '补入银行收费', '账目余额调出', '坏票或贴息处理', '未达项未达处理', '帐务核销']
    for item in linesgroup:
        cnt=[0,0,0,0,0,0,0,0,0,0,0]
        for ll in linesgroup[item]:
            accout, index, date, fee, payment, balance, note = ll.split(',')
            note=note.strip()
            try:
                idx = strs.index(note)
                cnt[idx] += 1
                cntall[idx] += 1
            except:
                pass
        fo.write(item + "," + (",".join([str(x) for x in cnt]) + "\n"))
    fo.flush()  #刷新内部缓冲区
    
if (__name__ == "__main__"):
    fi = open("jfmx_order_out_2.csv",encoding='utf-8')
    fo = open("mr_out_3_2_jfxmbymonth.csv", "w")
    ckey = ""
    linesgroup = {}
    while True:
        ll = fi.readline()
        if not ll:
            processJfxmbymonth(linesgroup, fo)
            break
        accout, index, date, fee, payment, balance, note = ll.split(',')
        key = accout + date[:6]
        if (key != ckey):
            processJfxmbymonth(linesgroup, fo)
            ckey = key
            linesgroup = {}
        if (key not in linesgroup):
            linesgroup[key] = []
        linesgroup[key].append(ll)
    fi.close()
    fo.close()

## 10.2.3计算当月月底的账户余额

In [11]:
# 计算当月月底的账户余额
def processQfse(linesgroup, fo):
    if(not linesgroup):
        return
    balance1 = InValidNum  #记录当月10日前的余额
    balance2 = 0           #记录当月月底的余额
    for item in linesgroup:
        for ll in linesgroup[item]:
            accout, index, date, fee, payment, balance, note = ll.split(',')
            day = date[6:] #取出日期值
            bl =0
            day = int(day)
            try:
                bl = float(balance)
            except:
                pass
            if(day<10):
                balance1=bl  #作为10号余额保存着
            balance2 = bl
        fo.write(item + "," + (",".join([str(balance1),str(balance2)]) + "\n"))
    fo.flush()  #刷新内部缓冲区
    
fi = open( "jfmx_order_out_2.csv",encoding='utf-8')
fo = open("mr_out_3_3_jfxmbymonth_qfse_1.csv", "w")
ckey = ""
linesgroup = {}
while True:
    #读取一行
    ll = fi.readline()
    #为空的话则处理完当前值，并退出
    if not ll:
        #处理当前数据字典
        processQfse(linesgroup, fo)
        break
    accout, index, date, fee, payment, balance, note = ll.split(',')
    key = accout + date[:6]  #[0,1,2,3,4,5]
    #如果当前key和历史不一样，则将现有数据去处理，并清空字典，同时刷新历史key值
    if (key != ckey):
        processQfse(linesgroup, fo)
        ckey = key
        linesgroup = {}
    #如果当前key不在字典中，则新建一个
    if (key not in linesgroup):
        linesgroup[key] = []
    #将当前行放到字典里
    linesgroup[key].append(ll)
fi.close()
fo.close()

## 10.2.4计算下月10日前的账户余额

In [12]:
# 计算当月月底账户余额，按下月10日前计算的账户余额
def processQfseNextMonth(lastline, line, fo):
    key, blance1, blance2 = lastline.split(',')
    date=key[-6:]
    month = date[4:]
    month = int(month)
    b2=""
    if(line):
        key2, blance12, blance22 = line.split(',')
        date2=key2[-6:]
        month2 = date2[4:]
        month2 = int(month2)
        if(month2-month==1 and blance12 != str(InValidNum)):
            b2 = blance12  #记录下月10日前的余额
        if(month2-month==-11 and blance12 != str(InValidNum)):
            b2 = blance12  #跨年，记录下月10日前的余额  
    #拼装数据并写入文件，如果line为None,没有下个月数据，则填空
    fo.write((",".join([key,blance2.strip(),b2]) + "\n"))
    fo.flush()
    
fi = open("mr_out_3_3_jfxmbymonth_qfse_1.csv",encoding='utf-8')
fo = open("mr_out_3_3_jfxmbymonth_qfse_2.csv", "w")
lastline = fi.readline()  #先记录第一条记录，和下一条记录一起处理
key1, blance11, blance21 = lastline.split(',')
acc1=key1[:-6]  #上次生成的key1 = accout + date[:6]
while True:
    ll = fi.readline()
    if not ll:
        #为空的话则处理完当前值，并退出
        processQfseNextMonth(lastline, None,fo)
        break
    #字段分别为accout+date[:6]，10日前余额，月底余额
    key2, blance12, blance22 = lastline.split(',')
    acc2=key2[:-6]
    #如果账号发生变化，则处理上一条数据，当前数据为空，并更新账号
    if(acc2!=acc1):
        processQfseNextMonth(lastline, None,fo)
        acc1=acc2
    #正常函数传入：上一条数据、当前数据、文件句柄
    else:
        processQfseNextMonth(lastline, ll,fo)
    lastline = ll
fi.close()
fo.close()

## 10.2.5计算每个账户每个月的用电量和缴费量

In [13]:
# 计算每个账户每个月的用电量和缴费量
fi = open("sdl_new_out_2.csv",encoding='utf-8')
fo = open("mr_out_3_1_mon2degree.csv","w")
ckey = ""
linesgroup = {}
def processMon2degree(linesgroup, fo):
    if(not linesgroup):#若linesgroup为空，则返回空
        return
    for item in linesgroup:
        degreesum = 0
        feesum=0
        for ll in linesgroup[item]:
            accout, degree, fee, date = ll.split(',')
            try:
                degreesum += float(degree)
            except:
                pass
            try:
                feesum+= float(fee)
            except:
                pass
        fo.write((",".join([item,str(degreesum),str(feesum)]) + "\n"))#写入
    fo.flush()#刷新
    
while True:
    #readline
    ll = fi.readline()#读取下一行
    if not ll:
        break
    accout, degree, fee, date = ll.split(',')
    key = accout + date[:6]
    if (key != ckey):
        processMon2degree(linesgroup, fo)
        ckey = key
        linesgroup = {}        
    if (key not in linesgroup):
        linesgroup[key] = []
    linesgroup[key].append(ll)
fi.close()
fo.close()

## 10.2.6合并整理为新的用户缴费明细和用电量明细表

In [16]:
# 合并整理后的用户缴费明细表和用户用电量明细表
#账户月用电量和缴费表
fi1 = open("mr_out_3_1_mon2degree.csv")
#账户活动统计表
fi2 = open("mr_out_3_2_jfxmbymonth.csv")
#账户月底余额和下个月10日前余额
fi3 = open("mr_out_3_3_jfxmbymonth_qfse_2.csv")
#输出最终样本数据
fo = open("mr_out_4_1_merge.csv","w")
ll1 = fi1.readline()
ll2 = fi2.readline()
ll3 = fi3.readline()
while True:
    if not ll1 and not ll2 and not ll3:
        break     
    '''
    确保从账号小的开始生成样本，如果3个文件key不完全一样，
    可以通过以下判断，逐步调整，最终使3个文件当前key相同
    '''
    pp1 = None
    key = 'aaaaaaaaaaa'
    if(ll1):
        pp1 = ll1.split(',')
        if(pp1[0]<key):
            key = pp1[0]
    pp2 = None
    if(ll2):
        pp2 = ll2.split(',')
        if (pp2[0] < key):
            key = pp2[0]
    pp3 = None
    if (ll3):
        pp3 = ll3.split(',')
        if (pp3[0] < key):
            key = pp3[0]            
    #取出账号和时间字段
    key1,key2 = key[:-6],key[-6:]
    res = [key1,key2,'','','','','','','','','','','','','','',''] 
    if(pp1):
        if(key==pp1[0]):
            res[2]=pp1[1].strip()
            res[3]=pp1[2].strip()
            ll1 = fi1.readline()           
    if(pp2):
        if(key==pp2[0]):
            res[4]=pp2[1].strip()
            res[5]=pp2[2].strip()
            res[6]=pp2[3].strip()
            res[7]=pp2[4].strip()
            res[8]=pp2[5].strip()
            res[9]=pp2[6].strip()
            res[10]=pp2[7].strip()
            res[11]=pp2[8].strip()
            res[12]=pp2[9].strip()
            res[13]=pp2[10].strip()
            res[14]=pp2[11].strip()
            ll2 = fi2.readline()           
    if(pp3):
        if(key==pp3[0]):
            res[15]=pp3[1].strip()
            res[16]=pp3[2].strip()
            ll3 = fi3.readline()
    fo.write((",".join(res) + "\n")) 
fi1.close()
fi2.close()
fi3.close()
fo.close()

## 10.2.7数据中空值的处理

In [58]:
import pandas as pd
import scipy as sp
import numpy as np
import sklearn as sk
import scipy.stats as spst
import sklearn.feature_selection as skfs
from sklearn.metrics import precision_score,confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

#数据读取
datain = pd.read_csv("mr_out_4_1_merge.csv", header=None, sep=",")
datain.columns = ["0.账户","1.日期","2.degrees","3.bills","4.zhuanru",
"5.cunru","6.tiaozheng","7.yuetiaoru","8.tuidianfei","9.weiyuejin",
"10.buruyinhang","11.yuetiaochu","12.huaizhang","13.weidabiao","14.acctcancel",
"15.balance1","16.balance2"]
datain.head()

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0
2,10000000442,201005,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN

In [59]:
#将2.degrees到14.acctcancel字段为空的填0
datain[datain.iloc[:,2:15].isna()] = 0
datain.head()

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN

In [60]:
#统计余额为空的记录数
temp = datain
print(temp.shape)
cnt = temp.loc[temp.loc[:,"15.balance1"].isna()].shape[0]
cntold = 0
print(cnt, cntold)

(156787, 17)
31890 0

In [61]:
#当月底余额数据缺失时，使用上个月的数据循环补充
while (cntold != cnt) and (0 != cnt) :
    i=0
    # 将余额列整体下移一位，拼接到源数据表最右列
    ss = temp.iloc[:,15]
    ns = np.r_[[None],ss.loc[:]]
    ns = pd.DataFrame(ns)
    temp = pd.concat([temp,ns[0:-1]],axis=1)
    
    # 将账户列整体下移一位，拼接到源数据表最右列
    tt = temp.iloc[:,0]
    nt = np.r_[[None],tt.loc[:]]
    temp = pd.concat([temp,pd.DataFrame(nt)[0:-1]],axis=1)
    
    # 如果当前余额为空，且当前账户和拼接的账户一样，则使用拼接的（上个月）余额赋值给当前月余额。
    tempIndex = (temp.iloc[:,0]==temp.iloc[:,18]) & (temp.iloc[:,15].isna())
    temp.loc[tempIndex,'15.balance1'] = temp[tempIndex].iloc[:,17]
    # 赋值填充后，再删除这两列
    temp = temp.iloc[:,0:-2]
    
    # 重新计算余额为空剩余的记录数
    cntold=cnt
    cnt = temp.loc[temp.iloc[:,15].isna()].shape[0]
     
temp.head()

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN

In [62]:
#以类似与当月余额拼接的方法，拼接下月10号前余额数据
temp = datain
print ("拼接前",temp.shape)
#取出16列，在16列的第一行加上一个NA，并去除16列最后一行
ss = temp.iloc[:,16]
ns = np.r_[[None],ss.iloc[:]]
temp = pd.concat([temp,pd.DataFrame({"ns":ns})[0:-1]],axis=1)
#取出1列，在1列的第一行加上一个NA，并去除1列最后一行
tt = temp.iloc[:,0]
nt = np.r_[[None],tt.iloc[:]]
temp = pd.concat([temp,pd.DataFrame({"nt":nt})[0:-1]],axis=1)
#将第1行用初始值填充
temp.iloc[0,17] = 0
temp.iloc[0,18] = 10000000442
print ("拼接后",temp.shape)
temp.head()

拼接前 (156787, 17)
拼接后 (156787, 19)

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2,ns,nt
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0,0,10000000442
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0,0.0,10000000442
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,0.0,10000000442
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN,NaN,10000000442
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN,NaN,10100124484

# 任务10.3 模型建立与评估

## 10.3.1数据特征的转换

In [63]:
#当月新消费=账户下个月10号前余额-(账户这个月10号前余额-当月总电费)，并追加在总表后面
pay = temp.iloc[:,16]-(temp.iloc[:,17]-temp.iloc[:,3])
pay = pd.DataFrame({"17.pay":pay})
temp =  pd.concat([temp,pay],axis=1)
tempIndex = temp.iloc[:,18] != temp.iloc[:,0]
temp.loc[tempIndex,"17.pay"] = 0
temp = temp.drop(["ns","nt"],axis = 1)
print(temp.shape)
temp.head()

(156787, 18)

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2,17.pay
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0,155364.72
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0,538751.95
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,NaN
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN,0
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN,NaN

In [64]:
#计算消费与当月总电费的比重
pratio = (temp.iloc[:,17]) / (temp.iloc[:,3] + 0.1)
pratio[pratio<=0] = 0
pratio[temp.iloc[:,3] <= 100] = 1
pratio = pd.DataFrame(pratio.values,columns=["18.ratio"])
temp = pd.concat([temp,pratio],axis = 1)
print (temp.shape)
temp.head()

(156787, 19)

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2,17.pay,18.ratio
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0,155364.72,0.999999
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0,538751.95,1.0
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,NaN,1
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN,0,0
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN,NaN,NaN

In [65]:
#将消费小于0的值全置为0
datain = temp
datain.loc[datain.iloc[:,17]<0,"17.pay"] = 0
datain.head()

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2,17.pay,18.ratio
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0,155364.72,0.999999
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0,538751.95,1.0
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,NaN,1
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN,0,0
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN,NaN,NaN

In [66]:
#将欠费的客户的flag记为 1
#当下个月10号前余额小于当月应缴电费，则判定为欠费。
flag = pd.DataFrame(np.zeros((datain.shape[0],1),dtype = int),columns=['19.flag'])
flag.loc[datain.iloc[:,16] < datain.iloc[:,3]] = 1
datain = pd.concat([datain, flag], axis=1)
datain.head()

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,6.tiaozheng,7.yuetiaoru,8.tuidianfei,9.weiyuejin,10.buruyinhang,11.yuetiaochu,12.huaizhang,13.weidabiao,14.acctcancel,15.balance1,16.balance2,17.pay,18.ratio,19.flag
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-155364.72,0.0,155364.72,0.999999,1
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-601751.95,0.0,538751.95,1.0,1
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,NaN,NaN,1,0
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-361554.34,NaN,0,0,0
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-415753.27,NaN,NaN,NaN,0

In [67]:
#选取有用的列
datain=datain.iloc[:,[0,1,2,3,4,5,7,9,16,17,18,19]]
datain.head()

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,7.yuetiaoru,9.weiyuejin,16.balance2,17.pay,18.ratio,19.flag
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,155364.72,0.999999,1
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,538751.95,1.0,1
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,1,0
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,NaN,0,0,0
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,NaN,NaN,NaN,0

In [68]:
#计算每度电的费用
uprice = abs(datain.iloc[:,3]/(datain.iloc[:,2]+0.01))
uprice.loc[datain.iloc[:,2] == 0] = 1
uprice[uprice>100] = 100
uprice = pd.DataFrame(uprice.values,columns=["20.price"])
datain=pd.concat([datain,uprice],axis = 1)
print (datain.shape)
datain.head()

(156787, 13)

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,7.yuetiaoru,9.weiyuejin,16.balance2,17.pay,18.ratio,19.flag,20.price
0,10000000442,201003,239680.0,155364.72,1.0,0.0,0.0,0.0,0.0,155364.72,0.999999,1,0.648217
1,10000000442,201004,1115040.0,538751.95,2.0,0.0,0.0,0.0,0.0,538751.95,1.0,1,0.483168
2,10000000442,201005,0.0,0.00,0.0,0.0,0.0,0.0,NaN,NaN,1,0,1.000000
3,10100124484,200801,51540.0,57535.58,1.0,0.0,0.0,0.0,NaN,0,0,0,1.116328
4,10100124484,200802,47100.0,54198.93,1.0,0.0,0.0,0.0,NaN,NaN,NaN,0,1.150720

In [70]:
#在本月之前的6个月的电费情况
data1 = pd.DataFrame()
data1 = datain.copy()
data1.iloc[:,:4] = datain.iloc[:,:4]
#将电费单价插入账单后面
data1.iloc[:,4] = datain.iloc[:,12]
for i in range(4,12):
    data1.iloc[:,i+1] = datain.iloc[:,i]
data1.head()

,0.账户,1.日期,2.degrees,3.bills,4.zhuanru,5.cunru,7.yuetiaoru,9.weiyuejin,16.balance2,17.pay,18.ratio,19.flag,20.price
0,10000000442,201003,239680.0,155364.72,0.648217,1.0,0.0,0.0,0.0,0.0,155364.72,0.999999,1
1,10000000442,201004,1115040.0,538751.95,0.483168,2.0,0.0,0.0,0.0,0.0,538751.95,1.0,1
2,10000000442,201005,0.0,0.00,1.000000,0.0,0.0,0.0,0.0,NaN,NaN,1,0
3,10100124484,200801,51540.0,57535.58,1.116328,1.0,0.0,0.0,0.0,NaN,0,0,0
4,10100124484,200802,47100.0,54198.93,1.150720,1.0,0.0,0.0,0.0,NaN,NaN,NaN,0

In [71]:
#依次向下移动一行，并在前面补零
#将前面6个月数据拼接
p0 = data1.iloc[:,[0,2,3,4,5,6,7,8,9,10,11,12]]
p1 = pd.DataFrame(np.r_[np.zeros((1,12)),p0[0:-1].values])
p2 = pd.DataFrame(np.r_[np.zeros((1,12)),p1[0:-1].values])
p3 = pd.DataFrame(np.r_[np.zeros((1,12)),p2[0:-1].values])
p4 = pd.DataFrame(np.r_[np.zeros((1,12)),p3[0:-1].values])
p5 = pd.DataFrame(np.r_[np.zeros((1,12)),p4[0:-1].values])
p6 = pd.DataFrame(np.r_[np.zeros((1,12)),p5[0:-1].values])
#依次向上移动一行，并在后面补零
#后3个月的账户、消费、欠费标识
f0 = data1.iloc[:,[0,9,12]]
f1 = pd.DataFrame(np.r_[f0[1:],np.zeros((1,3))])
f2 = pd.DataFrame(np.r_[f1[1:],np.zeros((1,3))])
f3 = pd.DataFrame(np.r_[f2[1:],np.zeros((1,3))])
#拼接各个表，并挑出编号一致的行
data = pd.concat([data1,p1,p2,p3,p4,p5,p6,f1,f2,f3], axis=1,ignore_index=True)
#挑选用户一致的数据
temp = data.loc[ (data.iloc[:,0] == data.iloc[:,13])
                & (data.iloc[:,13] == data.iloc[:,25])
                & (data.iloc[:,25] == data.iloc[:,37])
                & (data.iloc[:,37] == data.iloc[:,49])
                & (data.iloc[:,49] == data.iloc[:,61])
                & (data.iloc[:,61] == data.iloc[:,73])
                & (data.iloc[:,73] == data.iloc[:,85])
                & (data.iloc[:,85] == data.iloc[:,88])
                & (data.iloc[:,88] == data.iloc[:,91])
               ]
temp = temp[1:]  #删除第一行
temp = temp.reset_index(drop = True)
temp.head()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
0,10100124484,200808,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0
1,10100124484,200809,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0
2,10100124484,200810,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0
3,10100124484,200811,0.0,-11662.0,1.0,1.0,0.0,0.0,0.0,NaN,...,0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0
4,10100124484,200812,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0,1.010012e+10,NaN,0.0

In [72]:
#若后3个月只要有一个月欠费，则将最终标记置为1
data = temp
flag3m = data.iloc[:,87] + data.iloc[:,90] + data.iloc[:,93]
flag3m[flag3m >=1 ] = 1
flag3m = pd.DataFrame(flag3m.values, columns=["flag3m"])
data = pd.concat([data,flag3m], axis=1,ignore_index=True)
data = data.drop([13,25,37,49,61,73,85,88,91], axis=1)  #删除用于拼接的账号列
print (data.shape)
data.head()

(114442, 86)

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,86,87,89,90,92,93,94
0,10100124484,200808,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0,NaN,0.0,NaN,0.0,NaN,0.0,0.0
1,10100124484,200809,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0,NaN,0.0,NaN,0.0,NaN,0.0,0.0
2,10100124484,200810,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0,NaN,0.0,NaN,0.0,NaN,0.0,0.0
3,10100124484,200811,0.0,-11662.0,1.0,1.0,0.0,0.0,0.0,NaN,...,NaN,1,0,NaN,0.0,NaN,0.0,NaN,0.0,0.0
4,10100124484,200812,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,...,NaN,NaN,0,NaN,0.0,NaN,0.0,NaN,0.0,0.0

In [73]:
#删除没有过去1~6个月或后面1个月数据的记录
data = data.dropna()
data.shape

(3019, 86)

In [74]:
#生成最终数据，包括训练数据和测试数据比例为9:1
alldata = data.iloc[:,[i for i in range(2,79)]+[80]]  #不需要账户和后3个月的数据
testdata = alldata.sample(frac=0.1)
traindata = alldata.drop([i for i in testdata.index],axis=0)
print(alldata.shape, testdata.shape, traindata.shape)

(3019, 78) (302, 78) (2717, 78)

In [75]:
#特征选择
pkb = skfs.SelectKBest(lambda X, Y: tuple(map(tuple,np.array(list(map(lambda x:spst.pearsonr(x, Y), X.T))).T)), k=8)
selectedBest = pkb.fit_transform(alldata.iloc[:,:-1],alldata.iloc[:,-1])
pkb.get_support()

array([False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False,  True, False, False, False, False, False,
       False, False, False, False, False,  True, False,  True, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False, False,
       False, False, False, False,  True])

## 10.3.2逻辑回归模型建立与评估

In [76]:
#使用逻辑回归模型进行分类训练和预测
clf = LogisticRegression()
X = traindata.iloc[:,:-1].values
Y = traindata.iloc[:,-1].values
clf.fit(X[:,pkb.get_support()],Y.astype(int))

LogisticRegression()

In [77]:
print ("LR score: ",clf.score(testdata.iloc[:,:-1].values[:,pkb.get_support()],testdata.iloc[:,-1].values.astype(int)))

LR score:  0.9337748344370861

## 10.3.3支持向量机模型建立与评估

In [78]:
#使用SVM支持向量机模型进行分类训练和预测
svcRbf = SVC(kernel='rbf', gamma=0.7, C=1.0)
svcRbf = svcRbf.fit(X[:,pkb.get_support()],Y.astype(int))
print ("svcLinear score: " + str(svcRbf.score(testdata.iloc[:,:-1].values[:,pkb.get_support()],testdata.iloc[:,-1].values.astype(int))))

svcLinear score: 0.9337748344370861

In [79]:
pred = svcRbf.predict(testdata.iloc[:,:-1].values[:,pkb.get_support()])
rbf_score = precision_score(testdata.iloc[:,-1].values.astype(int), pred, average='macro')
print ("svcRbf precision score: ",rbf_score)
print(confusion_matrix(y_true=testdata.iloc[:,-1].values.astype(int),y_pred=pred))
print(classification_report(testdata.iloc[:,-1].values.astype(int), pred))

svcRbf precision score:  0.4684385382059801
[[  0  19]
 [  1 282]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        19
           1       0.94      1.00      0.97       283

    accuracy                           0.93       302
   macro avg       0.47      0.50      0.48       302
weighted avg       0.88      0.93      0.90       302