## 代码5-1

In [1]:
import pandas as pd
#读取Excel 文件中的数据
fileNameStr='朝阳医院2018年销售数据.xlsx'
df = pd.read_excel(fileNameStr)
#head 返回头部数据默认值为5
df.head()

             购药时间          社保卡号      商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01 星期五  1.616528e+06  236701.0  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02 星期六  1.616528e+06  236701.0  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06 星期三  1.260283e+07  236701.0       感康   2.0   16.8   15.00
3  2018-01-11 星期一  1.007034e+10  236701.0    三九感冒灵   1.0   28.0   28.00
4  2018-01-15 星期五  1.015543e+08  236701.0    三九感冒灵   8.0  224.0  208.00

## 代码5-2

In [1]:
import pandas as pd
#读取Excel 文件中的数据
fileNameStr='朝阳医院2018年销售数据.xlsx'
df = pd.read_excel(fileNameStr)
df.head()

             购药时间          社保卡号      商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01 星期五  1.616528e+06  236701.0  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02 星期六  1.616528e+06  236701.0  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06 星期三  1.260283e+07  236701.0       感康   2.0   16.8   15.00
3  2018-01-11 星期一  1.007034e+10  236701.0    三九感冒灵   1.0   28.0   28.00
4  2018-01-15 星期五  1.015543e+08  236701.0    三九感冒灵   8.0  224.0  208.00

In [5]:
df.isnull().any()

购药时间    True
社保卡号    True
商品编码    True
商品名称    True
销售数量    True
应收金额    True
实收金额    True
dtype: bool

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6578 entries, 0 to 6577
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   购药时间    6576 non-null   object
 1   社保卡号    6576 non-null   float64
 2   商品编码    6577 non-null   float64
 3   商品名称    6577 non-null   object
 4   销售数量    6577 non-null   float64
 5   应收金额    6577 non-null   float64
 6   实收金额    6577 non-null   float64
dtypes: float64(5), object(2)
memory usage: 359.9+ KB

In [3]:
df.isnull().sum()

购药时间    2
社保卡号    2
商品编码    1
商品名称    1
销售数量    1
应收金额    1
实收金额    1
dtype: int64

In [5]:
df.isna().sum(1)

0       0
1       0
2       0
3       0
4       0
       ..
6573    0
6574    7
6575    0
6576    0
6577    0
Length: 6578, dtype: int64

In [6]:
df.isna().sum().sum()

9

In [7]:
df.count()

购药时间    6576
社保卡号    6576
商品编码    6577
商品名称    6577
销售数量    6577
应收金额    6577
实收金额    6577
dtype: int64

In [8]:
df.loc[:,df.isnull().any()]

                购药时间          社保卡号       商品编码     商品名称  销售数量   应收金额    实收金额
0     2018-01-01 星期五  1.616528e+06   236701.0  强力VC银翘片   6.0   82.8   69.00
1     2018-01-02 星期六  1.616528e+06   236701.0  清热解毒口服液   1.0   28.0   24.64
2     2018-01-06 星期三  1.260283e+07   236701.0       感康   2.0   16.8   15.00
3     2018-01-11 星期一  1.007034e+10   236701.0    三九感冒灵   1.0   28.0   28.00
4     2018-01-15 星期五  1.015543e+08   236701.0    三九感冒灵   8.0  224.0  208.00
...              ...           ...        ...      ...   ...    ...     ...
6573  2018-04-27 星期三  1.078861e+08  2367011.0      高特灵  10.0   56.0   54.80
6574             NaN           NaN        NaN      NaN   NaN    NaN     NaN
6575  2018-04-27 星期三  1.008787e+10  2367011.0      高特灵   2.0   11.2    9.86
6576  2018-04-27 星期三  1.340663e+07  2367011.0      高特灵   1.0    5.6    5.00
6577  2018-04-28 星期四  1.192693e+07  2367011.0      高特灵   2.0   11.2   10.00

[6578 rows x 7 columns]

In [9]:
df.loc[df.isnull().any(1)]

                购药时间        社保卡号       商品编码 商品名称  销售数量  应收金额   实收金额
6570             NaN  11778628.0  2367011.0  高特灵  10.0  56.0  56.00
6571  2018-04-25 星期二         NaN  2367011.0  高特灵   2.0  11.2   9.86
6574             NaN         NaN        NaN  NaN   NaN   NaN    NaN

In [10]:
df.loc[~(df.isnull().any(1))]

                购药时间          社保卡号       商品编码     商品名称  销售数量   应收金额    实收金额
0     2018-01-01 星期五  1.616528e+06   236701.0  强力VC银翘片   6.0   82.8   69.00
1     2018-01-02 星期六  1.616528e+06   236701.0  清热解毒口服液   1.0   28.0   24.64
2     2018-01-06 星期三  1.260283e+07   236701.0       感康   2.0   16.8   15.00
3     2018-01-11 星期一  1.007034e+10   236701.0    三九感冒灵   1.0   28.0   28.00
4     2018-01-15 星期五  1.015543e+08   236701.0    三九感冒灵   8.0  224.0  208.00
...              ...           ...        ...      ...   ...    ...     ...
6572  2018-04-27 星期三  1.006048e+10  2367011.0      高特灵   1.0    5.6    5.00
6573  2018-04-27 星期三  1.078861e+08  2367011.0      高特灵  10.0   56.0   54.80
6575  2018-04-27 星期三  1.008787e+10  2367011.0      高特灵   2.0   11.2    9.86
6576  2018-04-27 星期三  1.340663e+07  2367011.0      高特灵   1.0    5.6    5.00
6577  2018-04-28 星期四  1.192693e+07  2367011.0      高特灵   2.0   11.2   10.00

[6575 rows x 7 columns]

# 代码5-3

In [11]:
df.isnull().sum()

购药时间    2
社保卡号    2
商品编码    1
商品名称    1
销售数量    1
应收金额    1
实收金额    1
dtype: int64

## 代码5-4

In [12]:
import pandas as pd
import numpy as np
#随机产生三行两列的数据集
df = pd.DataFrame(np.random.randn(3,2), index = list('abc'),columns=['1','2'])
#将部分指定位置定义为缺失
df.iloc[1:-1,1] = np.nan
print(df)

          1         2
a  0.992089 -0.605731
b -1.395430       NaN
c  0.425372  0.354907

In [13]:
#利用dropna 函数删除含有缺失值的行
df.dropna()

          1         2
a  0.992089 -0.605731
c  0.425372  0.354907

In [15]:
import pandas as pd
#读取Excel 文件中的数据
fileNameStr='朝阳医院2018年销售数据.xlsx'
df = pd.read_excel(fileNameStr)
df.head()

             购药时间          社保卡号      商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01 星期五  1.616528e+06  236701.0  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02 星期六  1.616528e+06  236701.0  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06 星期三  1.260283e+07  236701.0       感康   2.0   16.8   15.00
3  2018-01-11 星期一  1.007034e+10  236701.0    三九感冒灵   1.0   28.0   28.00
4  2018-01-15 星期五  1.015543e+08  236701.0    三九感冒灵   8.0  224.0  208.00

In [16]:
df.duplicated(subset=None, keep='first')

0       False
1       False
2       False
3       False
4       False
        ...
6573    False
6574    False
6575    False
6576    False
6577    False
Length: 6578, dtype: bool

In [17]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6573    False
6574    False
6575    False
6576    False
6577    False
Length: 6578, dtype: bool

In [18]:
df.duplicated(subset=['商品名称'])

0       False
1       False
2       False
3       False
4        True
        ...
6573     True
6574    False
6575     True
6576     True
6577     True
Length: 6578, dtype: bool

In [19]:
df.duplicated(keep='last')

0       False
1       False
2       False
3       False
4       False
        ...
6573    False
6574    False
6575    False
6576    False
6577    False
Length: 6578, dtype: bool

In [20]:
df.duplicated(keep=False)

0       False
1       False
2       False
3       False
4       False
        ...
6573    False
6574    False
6575    False
6576    False
6577    False
Length: 6578, dtype: bool

In [21]:
df.duplicated().value_counts()

False    6578
dtype: int64

In [22]:
df.duplicated(keep=False).value_counts()

False    6578
dtype: int64

In [23]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [购药时间, 社保卡号, 商品编码, 商品名称, 销售数量, 应收金额, 实收金额]
Index: []

In [24]:
df[df.duplicated()]

Empty DataFrame
Columns: [购药时间, 社保卡号, 商品编码, 商品名称, 销售数量, 应收金额, 实收金额]
Index: []

## 代码5-5

In [25]:
import pandas as pd
fileNameStr='朝阳医院2018年销售数据.xlsx'
df = pd.read_excel(fileNameStr)
#使用loc 方法选择子集
newdf=df.loc[0:100,'社保卡号':'商品编码']
newdf.head()

           社保卡号      商品编码
0  1.616528e+06  236701.0
1  1.616528e+06  236701.0
2  1.260283e+07  236701.0
3  1.007034e+10  236701.0
4  1.015543e+08  236701.0

## 代码5-6

In [26]:
newdf.drop_duplicates(inplace=True)
newdf.shape

(68, 2)

## 代码5-7

In [27]:
import pandas as pd
df = pd.DataFrame({'A':[5,91,3],'B':[90,15,66],'C':[93,27,3]})
print(df.corr())
print(df.corr('spearman'))
print(df.corr('kendall'))

          A         B         C
A  1.000000 -0.943228 -0.240882
B -0.943228  1.000000  0.549571
C -0.240882  0.549571  1.000000
     A    B    C
A  1.0 -0.5  0.5
B -0.5  1.0  0.5
C  0.5  0.5  1.0
          A         B         C
A  1.000000 -0.333333  0.333333
B -0.333333  1.000000  0.333333
C  0.333333  0.333333  1.000000

## 代码5-8

In [28]:
df = pd.DataFrame({1: [10], 2: [20]})
df

    1   2
0  10  20

## 代码5-9

In [29]:
different_column_type = pd.DataFrame({1.0: [10], 2.0: [20]})
print(different_column_type)
df.equals(different_column_type)

   1.0  2.0
0   10   20

True

## 代码5-10

In [30]:
different_data_type = pd.DataFrame({1: [10.0], 2: [20.0]})
print(different_data_type)
df.equals(different_data_type)

      1     2
0  10.0  20.0

False

## 代码5-11

In [31]:
import pandas as pd
#读取Excel 文件中的数据
fileNameStr='朝阳医院2018年销售数据.xlsx'
df = pd.read_excel(fileNameStr)
df.head()

             购药时间          社保卡号      商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01 星期五  1.616528e+06  236701.0  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02 星期六  1.616528e+06  236701.0  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06 星期三  1.260283e+07  236701.0       感康   2.0   16.8   15.00
3  2018-01-11 星期一  1.007034e+10  236701.0    三九感冒灵   1.0   28.0   28.00
4  2018-01-15 星期五  1.015543e+08  236701.0    三九感冒灵   8.0  224.0  208.00

## 代码5-12

In [32]:
df.describe()

               社保卡号          商品编码         销售数量         应收金额         实收金额
count  6.576000e+03  6.577000e+03  6577.000000  6577.000000  6577.000000
mean   6.091254e+09  1.015869e+06     2.386194    50.473803    46.317510
std    4.889284e+09  5.131153e+05     2.375202    87.595925    80.976702
min    1.616528e+06  2.367010e+05   -10.000000  -374.000000  -374.000000
25%    1.014234e+08  8.614560e+05     1.000000    14.000000    12.320000
50%    1.001650e+10  8.615070e+05     2.000000    28.000000    26.600000
75%    1.004882e+10  8.690690e+05     2.000000    59.600000    53.000000
max    1.283612e+10  2.367012e+06    50.000000  2950.000000  2650.000000

## 代码5-13

In [33]:
#设置查询条件
querySer=df.loc[:,'销售数量']>0
#应用查询条件
print('删除异常值前：',df.shape)
df=df.loc[querySer,:]
print('删除异常值后：',df.shape)

删除异常值前： (6578, 7)
删除异常值后： (6534, 7)

## 代码 5-14

In [34]:
df.describe()

               社保卡号          商品编码         销售数量         应收金额         实收金额
count  6.533000e+03  6.534000e+03  6534.000000  6534.000000  6534.000000
mean   6.085070e+09  1.016559e+06     2.407254    50.950735    46.759111
std    4.890514e+09  5.135015e+05     2.364571    87.549159    80.915486
min    1.616528e+06  2.367010e+05     1.000000     1.200000     0.030000
25%    1.014234e+08  8.614562e+05     1.000000    14.000000    12.600000
50%    1.001650e+10  8.615070e+05     2.000000    28.000000    27.000000
75%    1.004859e+10  8.690690e+05     2.000000    59.600000    53.000000
max    1.283612e+10  2.367012e+06    50.000000  2950.000000  2650.000000